
@model IEnumerable<Group1_A2.Models.Business>


@{
    ViewBag.Title = "BusinessList";
}
<h2>Business List</h2>
<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@item.Name</h3>

                        <div>
                            <label class="label label-default">@item.Category.Name</label>
                            <label class="label label-default">@item.PhoneNumber</label>
                            <label class="label label-default">@item.Address</label>
                        </div>
                        <p>@item.Description</p>
                        <p><a href="#" class="btn btn-primary" role="button">More ...</a> </p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
    

